@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <image src="https://em-content.zobj.net/source/google/387/face-with-tears-of-joy_1f602.png" width="400px" height="auto">
    <h1 class="display-4">Jokes Collections</h1>
    <p>Laugh as Much as You Want. Release Your Stress Here</p>
</div>
